
/*--HOME--*/
p{text-decoration: none;font-family: "Roboto";font-weight: normal;letter-spacing: 0.1rem;}

h1{text-align: center;width: 60%;display: inline-block;
margin-top: 20%;font-family: "Roboto";
font-size: 8rem;
font-weight: 400;
line-height: 1.26;
letter-spacing: -0.6px;color: white;}

.zind{background-image: url(../imagenes/fondo.png);width:100%;height: 1350px;responsive:image;}
.zind{z-index: -1000;
  filter:blur(30px);
  -o-filter:blur(30px);
  -ms-filter:blur(30px);
  -moz-filter:blur(30px);
  -webkit-filter:blur(30px);text-align: center;}

.col-md-12{z-index: 3000;}

.nav{z-index: 4;text-align: center;}

.form-horizontal {
    z-index: 2000;
    position: absolute;
    top: 47rem;
    left: 37.5%;
    width: 30%;
    border-radius: 27px;
    border: solid 5px white;
    width: 490px;
    height: 440px;
}

.form-control{text-align: center;font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.2px;}


.btn.btn-default {
    color: #fff;
    background-color: #fff;
    width: 375px;
    height: 56px;
    border-radius: 6px;
    background-color: #e73c33;
    text-align: center;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: "Roboto"}
.form-group p{margin-top: 1rem;}    

.col-sm-offset-2 {
    margin-left: 12.9%;margin-top: 4.5%;}

.contenedor-formulario{margin-top: 12rem;margin-right: 7rem}
.container.fluid{height: 12rem;padding-bottom: 2rem;}
.col-md-12{background-color: #e73c33;padding-left: 0;padding-right: 0;}
#logo {width: 31%;padding-top: 2rem;margin-left: 25%;padding-bottom: 4rem;}
.link{text-decoration: none;
color: white;display: inline-block;
font-size: 20px;float: right;
margin-left: 5rem;margin-right: 3rem;padding-top: 5rem;}
.link:hover{text-decoration: none;color: grey;}
#dog{width: 100%;}
.container-fluid.text-center{padding-right: 0;padding-left: 0;}
.moviles{width:50%;margin-top: 20%}
.col-md-6.nexus{float: left;}
.col-md-6.iphone{float: left;}
.col-md-6.nexus img {float: right;}
.col-md-6.iphone img{float: left;width: 61%;}

#sectiondos{margin-top: 10%;}
.redes{height:230px;background-color: #e73c33;margin-top: 20%;}
.col-md-6.footer{font-size: 1.5rem;color: white;font-family: "Roboto";font-weight: normal;letter-spacing: -0.2px;text-align: center;padding-top: 7.5%;width: 100%;}

.col-md-6 i{color: white;}
.contenedor-redes{float: left;}
.col-md-6.footer i{font-size: 3.5rem;margin-bottom: 2rem;letter-spacing: 1rem;}
.row{margin-left:0;margin-right:0;}


.row{margin-left: 0;margin-right: 0;}
.container.fluid{padding-left: 0;padding-right: 0;}

.button{border-radius: 0;}
.btn-lg{padding: 25px 100px;border-radius: 0;}
.btn.btn-primary.btn-lg {
    margin-top: 5%;}

.btn-primary {
    color: #fff;
    background-color: #e73c33;
    border-color: #e73c33;}

.btn-primary:hover {
    color: #fff;
    background-color: #cc3333;
    border-color: #cc3333;}

.col-md-3.playstore{float: right;margin-top: 8%;}
.col-md-3.appstore{float: right;margin-top: 8%;}
.appstore{width: 50%;right: 2%;}
.playstore{width: 50%;left: 5%;}

.btn-primary.btn-lg {
    color: #fff;
    background-color: #e73c33;
    border-color: #e73c33;}

.btn-primary:active:hover{color: #fff;
    background-color: #cc3333;
    border-color: #cc3333;}

.btn-primary.btn-lg:hover{color: #fff;
    background-color: #cc3333;
    border-color: #cc3333;}

.btn-default:hover {
    color: #333;
    background-color: #cc3333;
    border-color: #cc3333;}

.radio label, .checkbox label { padding-left: 40px;
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    letter-spacing: -0.2px;
}
    /*--FINHOME--*/

.blur {
  background:white;
  background:rgba(255,255,255,0.8);

  filter:blur(12px);
  -o-filter:blur(12px);
  -ms-filter:blur(12px);
  -moz-filter:blur(12px);
  -webkit-filter:blur(12px);
}